dist: xenial
addons:
  apt:
    update: true
    packages:
    - libluajit-5.1-dev
    - libpcap-dev
    - luajit
    - liblmdb-dev
    - libck-dev
    - libgnutls28-dev
    - libuv1-dev
    - libnghttp2-dev
language: c
compiler:
  - clang
  - gcc
install: ./autogen.sh
script:
  - ./configure --enable-warn-all
  - make dist
  - tar zxvf *.tar.gz
  - cd dnsjit-[0-9]*
  - mkdir build
  - cd build
  - ../configure --enable-warn-all
  - make
  - make test
  - cat src/test/test*.sh.log
